
/* for the table without header */

table tr th:empty {
  display: none;
}

/* for the publications shortcode  */

.publication {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.publication-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.publication-authors {
    font-style: italic;
    margin-bottom: 5px;
}

.publication-details {
    font-size: 14px;
}

.publication-details span {
    margin-right: 10px;
}

.publication-button {
    background-color: #404040;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 3px 6px;
    text-decoration: none;
}

.publication-button:hover {
    background-color: #0056b3;
}

/* for abstract button  */

.collapsible {
    border-color: #404040;
    background-color: #404040;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 3px 6px;
    text-align: left;
}

.active, .collapsible:hover {
    background-color: #0056b3;
}

.content {
    padding: 0 18px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F5F5F5;
}

@media (prefers-color-scheme: dark) {
  .content {
    background: #505050;
  }
}

.collapsible:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 14px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
}


/* for the talks shortcode */

.talk {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.talk-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.talk-details {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-style: italic;
}

.talk-name {
    font-weight: bold;
    margin-top: 10px;
}
